* {
  color: #5A5A5A;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #5A5A5A;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0e0e0;
  padding: 2em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.header h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}

.header button {
  width: 50%;
}

.input-checkbox {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 2em;
}

button {
  color: #FFF;
  background-color: #5A5A5A;
  border: none;
  margin-bottom: 1em;
  padding: 1em;
}

.inputfield input {
  color: #FFF;
  background-color: #5A5A5A;
  border: none;
  width: 20vw;
  padding: 1em;
}

::placeholder {
  color: white;
}

.counter {
  font-size: 0.8em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-block: 2em;
  font-size: 1.5em;
  text-align: center;
}

.forget {
  font-size: 2em
}

.strikeout {
  color: #c0c0c0;
  text-decoration: line-through;
}

.items-count {
  display: block;
  color: #FFF;
}